In [1]:
import pandas as pd

In [ ]:
path = "../../Documents/Ticket Sales.xlsx"

stubhub = pd.read_excel(path, sheet_name ="stubhub")
ticketweb = pd.read_excel(path, sheet_name ="TicketWeb")

In [5]:
market = stubhub.join(ticketweb[["Artist", "Tier", "TicketWeb"]].set_index('Artist'), on='Artist', how='outer') 
market.iloc[ :, 1:7].sort_values(['Dates'], ascending=True)

        Dates                Stubhub  Me  Stubhub_1  Stubhub_2  Stubhub_3
39 2024-10-25           [27.0, 0, 0]   0         27          0          0
66 2024-10-25              [0, 0, 0]   0          0          0          0
55 2024-10-26  [135.0, 135.0, 150.0]   0        135        135        150
12 2024-10-26        [65.0, 67.0, 0]  65         65         67          0
71 2024-10-26  [104.0, 106.0, 111.0]   0        104        106        111
..        ...                    ...  ..        ...        ...        ...
23 2025-08-24  [396.0, 396.0, 413.0]   0        396        396        413
53 2025-09-01  [171.0, 174.0, 174.0]   0        171        174        174
67 2025-10-01              [0, 0, 0]   0          0          0          0
14        NaT     [60.0, 69.0, 80.0]  60         60         69         80
88        NaT     [49.0, 51.0, 54.0]   0         49         51         54

[89 rows x 6 columns]

In [9]:
market["profit"] = market["Stubhub_1"] - market["TicketWeb"]
market[ (market['TicketWeb'].isnull()== False)].sort_values(['Dates'], ascending=True)

,Artist,Dates,Stubhub,Me,Stubhub_1,Stubhub_2,Stubhub_3,Tier,TicketWeb,profit
39,Umek,2024-10-25,"[27.0, 0, 0]",0,27,0,0,2,31.74,-4.74
12,Dion Timmer,2024-10-26,"[65.0, 67.0, 0]",65,65,67,0,2,40.09,24.91
11,Emorfik,2024-10-31,"[40.0, 67.0, 66.0]",66,40,67,66,3,49.00,-9.00
17,Kaivon,2024-11-01,"[40.0, 61.0, 119.0]",40,40,61,119,2,33.74,6.26
15,Lavern,2024-11-01,"[25.0, 54.0, 54.0]",54,25,54,54,2,34.74,-9.74
2,Timmy Trumpet,2024-11-01,"[94.0, 0, 0]",94,94,0,0,4,67.48,26.52
38,Vini Vici,2024-11-08,"[174.0, 311.0, 0]",0,174,311,0,3,44.43,129.57
13,Ship Wrek,2024-11-15,"[64.0, 64.0, 70.0]",64,64,64,70,2,31.74,32.26
5,Sullivan King,2024-11-15,"[83.0, 84.0, 85.0]",83,83,84,85,3,48.43,34.57
8,MK,2024-11-22,"[74.0, 75.0, 96.0]",74,74,75,96,2,42.09,31.91
37,Virtual Riot,2024-12-06,"[58.0, 60.0, 94.0]",0,58,60,94,3,40.09,17.91
10,Layz,2024-12-13,"[67.0, 68.0, 85.0]",67,67,68,85,1,49.00,18.00
6,Markus Schulz,2024-12-20,"[80.0, 81.0, 85.0]",81,80,81,85,3,38.09,41.91
3,Lilly Palmer,2024-12-26,"[92.0, 93.0, 99.0]",93,92,93,99,2,44.43,47.57
0,Alan Walker,2025-02-07,"[115.0, 121.0, 122.0]",123,115,121,122,4,92.86,22.14

In [6]:
# Filter the market DataFrame to show where Stubhub is cheaper than Me
cheaper_stubhub = market[market['Stubhub_1'] < market['Me']]


print(cheaper_stubhub)

                     Artist      Dates                Stubhub   Me  Stubhub_1  \
0               Alan Walker 2025-02-07  [102.0, 114.0, 121.0]  123        102
16                  Atliens 2024-11-16     [47.0, 47.0, 48.0]   54         47
1   Black Tiger Sex Machine 2024-11-23     [86.0, 87.0, 91.0]  108         86
3             Timmy Trumpet 2024-11-01     [68.0, 81.0, 92.0]   92         68
13                  Tinashe 2024-11-11     [42.0, 43.0, 47.0]   65         42
11                     Umek 2024-10-25    [18.0, 67.0, 827.0]   67         18

    Stubhub_2  Stubhub_3  Tier  TicketWeb  profit
0         114        121  44.0      92.86   30.14
16         47         48   NaN        NaN     NaN
1          87         91   NaN        NaN     NaN
3          81         92   3.0      54.78   37.22
13         43         47   NaN      39.78   25.22
11         67        827   2.0      31.74   35.26